/* עיצוב שם המשחק */
#name_game{
    text-align: center;
}



/* עיצוב רקע המשחק */
#background_game {
background-color: rgb(89, 89, 90);
width: 50%;
height: 600px;
margin: 30px auto;
text-align: center;

}

/* עיצוב כפתור ההתחלה */
#start{
    position: absolute;
    margin-left: 33.33%;
    font-size: 70px;
   
}

/* עיצוב מבנה המשחק */
#body_game{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    width: 100%;
    height: 100%;
    
}

/* עיצוב הכרטיסים עצמם */
.card{
    display: grid;
    width: 80%;
    height: 80%;
    background-color: blue;
    border: 2px solid black;
    margin: 10px auto;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
